body {
  margin: 0;
  background-color: #1f2937;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  color: #4adf86;
}

#main {
  margin-left: 52px;
  margin-right: 52px;
}
hr {
  border: 1px solid #2f3e53;
  margin-top: 35px;
}
h1 {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#generate {
  color: white;
  background-color: #10b981;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
}
p {
  margin-top: 10px;
  color: white;
  margin-bottom: 69px;
}
button:hover {
  font-weight: bold;
}
.passGen {
  background-color: #273549;
  width: 211px;
  height: 39px;
  border-radius: 6px;
  margin-right: 24px;
  text-align: center;
  color: #55f991;
  padding-top: 10px;
}
#output {
  display: flex;
}
